<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codigo55.umovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Primera activity -->
        <activity
            android:name=".activitys.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity Ingenieria de software -->
        <activity
            android:name=".activitys.activity_is"
            android:parentActivityName=".activitys.activity_is" /> <!-- Activity asignaturas de IS -->
        <activity
            android:name=".activitys.activity_is_uno"
            android:parentActivityName=".activitys.activity_is_uno">

            <!-- Activity Catedra institucional -->
        </activity>
        <activity
            android:name=".activitys.activity_ci"
            android:parentActivityName=".activitys.activity_ci" /> <!-- Activity Programacion Basica -->
        <activity
            android:name=".activitys.activity_pb"
            android:parentActivityName=".activitys.activity_pb" /> <!-- Activity MEAD -->
        <activity
            android:name=".activitys.activity_mead"
            android:parentActivityName=".activitys.activity_mead" /> <!-- Activity fundamentos de matematica -->
        <activity
            android:name=".activitys.activity_fm"
            android:parentActivityName=".activitys.activity_fm" /> <!-- Activity introduccion ING.SOFTWARE -->
        <activity
            android:name=".activitys.activity_iis"
            android:parentActivityName=".activitys.activity_iis" /> <!-- Activity Calculo Diferencial -->
        <activity
            android:name=".activitys.activity_cd"
            android:parentActivityName=".activitys.activity_cd" /> <!-- Activity Noticias -->
        <activity
            android:name=".activitys.activity_no"
            android:parentActivityName=".activitys.activity_no" />
        <activity android:name=".activitys.activity_ii"
            android:parentActivityName=".activitys.activity_no"
            >

        </activity>
    </application>

</manifest>